.rfigure {
    display: grid;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    /* background-color: pink; */
  }
  .rfigure > * {
    grid-area: 1/1;
    transition: .4s;
    /* border: 2px solid black; */
  }
  .rfigure figcaption {
    display: grid;
    align-items: end;
    font-family: sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
    color: #0000;
    padding: .75rem;
    background: var(--c,#0009);
    clip-path: inset(0 var(--_i,100%) 0 0);
    -webkit-mask:
      linear-gradient(#000 0 0),
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    -webkit-mask-clip: text, padding-box;
    margin: -1px;
  }
  .rfigure:hover figcaption{
    --_i: 0%;
  }
  .rfigure:hover img {
    transform: scale(1.2);
  }
  @supports not (-webkit-mask-clip: text) {
    .rfigure figcaption {
     -webkit-mask: none;
     color: #fff;
    }
  }
  
  .r1 {
    margin: 0;
    /* min-height: 100vh; */
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    gap: 2rem;
    width: 95%;
  }




.rUpdates{
    /* width: 80%; */
    background: white;
    border-radius: 0.7rem;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.rupdate{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}
.rewardcontent{
    width: 55vw;
}

@media screen and (max-width: 680px){
.coinreward{
flex-direction: column;}
.rewardpage{
  width: 100vw;
}
.rewardcontent {
  width: 83vw;
  
}
.coinreward{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem !important;
}
.r1{
  grid-auto-flow: row;
  gap: 0rem;
}
.rewards{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rfigure{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
}